.quote {
    margin: 10px;
    padding: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-color: rgb(12, 126, 226);
  }
  .quote span {
    font-size: 1.2em;
    text-decoration: none;
    color: #f4f8f2;
    background-color: #8a8891;
    width: 700;
  }